<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="サンプル・カテゴリー"
            id="EclipsePlugin_demo">
      </category>
      <view
            id="eclipseplugin_demo.views.SampleView"
            name="サンプル・ビュー"
            icon="icons/sample.png"
            class="eclipseplugin_demo.views.SampleView"
            category="EclipsePlugin_demo"
            inject="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="eclipseplugin_demo.views.SampleView"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               ratio="0.5">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
